<!DOCTYPE html>
<html>
<head>
	<title> Sign Up </title>
</head>
<body>
<h2> Welcome To Twitter </h2>
<h3> Sign Up Please </h3>
<form action="/signup" method="post">
FirstName: <input type="text" name="firstn" placeholder="firstname">
LastName: <input type="text" name="lastn" placeholder="lastname">
<br>
Username: <input type="text" name="email" placeholder="username">
<br>
PassWord: <input type="password" name="password" placeholder="password">
<br>
<input type="submit" value="Sign Up">
</form>
</body>
</html>