<!DOCTYPE html>
<html>
<head>
	<title> Sign In </title>
</head>
<body>
<h2> Welcome To Twitter </h2>
<h3> Sign In </h3>
<form action="/signin" method="post">
Username: <input type="text" name="email" placeholder="username">
<br>
PassWord: <input type="password" name="password" placeholder="password">
<br>
<input type="submit" value="Sign In">
<h6> Don't Have An Account? </h6>
<a href="/signup"> Sign Up </a>
</form>
</body>
</html>